*{
    margin:	0% 0% 0% 0%;
    padding: 0;
    box-sizing: border-box;}
 
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(58, 57, 61);
    background-color: rgb(241, 241, 236);
    margin: 0;}

h3 {
     padding:20px;}
    

.responsive img { 
    height:auto ;
    max-width: 100%;
    display: block;}

.logo {
    float: left; }

.flotext h2{
    position: absolute;
    top: 30%;
    left: 20%;
    margin: 20px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
    
.flotext span{
    position: absolute;
    top: 38%;
    right: 65%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.container {
    position: absolute;
    margin: 20px;
    width: auto;}
              
.topnav {
    overflow: hidden;}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}
        
.topnav a:hover {
    background-color: #ddd;
    color: black;}


.box{          
    position: relative;}
   
.stack-top{
    z-index: 20px;
    height: 300px;
    width: 300px;
    float: right;
    top: -500px;
    right: 60px}


/**THREE BOXES**/
.parent {
    display: flex;
    margin: 20px;
    }
    
.child {
    width: 50%;
    margin: 20px;
}

/**THIS IS THE THREE FLORATING BOXES**/

.yellow__box{
    position:absolute;
    width:400px;
    height:600px;
    right: 80vh;
    bottom:-90vh;
    background:yellow;
    z-index:100;}

  .red__box{
    position:relative;
    width:400px;
    height:300px;
    right: -10vh;
    bottom: -15vh;
    background:red;
    z-index:50;
  }
  .orange__box{
    right: 20vh;
    bottom: -70vh;
    position:absolute;
    width:400px;
    height:300px;
    background:orange;
    z-index:50;
  }


/**THIS IS ABSTRACT**/

.abstract {
    background-color: rgb(240, 198, 198);
    border-radius: 10px;
    height: 300px;
    padding: 30px;
    margin: 50px;
    text-align: center;}

/**THIS IS THE BUTTON FOR ABSTRACT**/

.absbtn {
    background: rgb(218, 218, 218);
    width:175px;
    height:65px;
    margin:20px auto;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 1px 2px #5e5d5b;
    text-align: center;
    line-height: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/**THIS IS THE COMMENTS**/
.dad {
    text-align: center;
 
  }
  
.son{
    background-color: yellow;
    padding: 10px;
    width: 400px;
    height: 200px;
    display: inline-block;
    z-index: 50;
  }

  .son2{

    bottom: 40vh;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    width: 600px;
    height: 200px;
    display: inline-block;
    z-index: 100;
  }


/**THIS IS THE BREAK FOR THE FOOTER**/

hr {
    border: 1px solid#e12545; 
    height: 2px;
    width: 100%;
    }

/** THIS IS THE PRICING**/

.yellow2__box{
    position:absolute;
    width:400px;
    height:600px;
    right: 80vh;
    background:yellow;
    z-index:100;}

  .red2__box{
    position:relative;
    width:400px;
    height:500px;
    background:red;
    right: -20vh;
    top:5vh;
    z-index:50;
  }
  .orange2__box{
    position:absolute;
    width:400px;
    height:500px;
    background:orange;
    right:40vh;
    bottom: -420vh;
    z-index:50;
  }


/** THIS IS THE FOOTER**/

.footer-container  {
    padding-bottom: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    width: 80%;
    height: 20vh;
    color: rgb(241, 23, 45);
    display: flex;
    justify-content: center;

    margin: 0 auto;
    padding-top: 50px;
}

.footer-heading  {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: rgb(241, 23, 45);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

@media screen and (max-width:1920px) {
   .footer{
       height: 20vh;
   }
   .footer{
       margin-top: 30px;
   }
}
